{% extends "layout.twig" %}

{% block content %}

    <h1>Add Job</h1>
        <Form Action="/cv/jobs/add" method="post">
                <label for="">Title:</label>
                <Input type="text" name = "title"></Input><br>
                <label for="">Description:</label>
                <Input type="text" name="description"></Input><br>
                <Button type="submit">Save</Button>
        </Form>
{% endblock %}
