{% extends "layout.twig" %}

{% block content %}


        <h1>Add Project</h1>
        <Form Action="/cv/projects/add" method="post">
                <label for="">Project:</label>
                <Input type="text" name = "project"></Input><br>
                <label for="">Description:</label>
                <Input type="text" name="description"></Input><br>
                <Button type="submit">Save</Button>
        </Form>
{% endblock %}