{% extends "layout.twig" %}

{% block content %}
<h1>Login</h1>
<form Action="/cv/auth" method="post">
    <input type="text" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <Button type="submit">Login</button><br>
</form>

{% endblock %}